.antidote
.antidote/
.cache/
.external/
.plugins/
.unplugged/
.zcompcache/
.zcompdump*
.zdirs
.zhistory
.zplugins/
.zplugins/
.zsh_history
.zsh_plugins.zsh
.zsh_sessions/
*.cache
*.bak
*.local
*.local.zsh
conf.d/ai-providers.local.zsh
conf.d/aws.local.zsh
*.zwc
*.zwc.old
.zplugins.zsh
~*
.zephyr/
.zlocal
.kickstart/
