{{- $interactive := stdinIsATTY -}}

{{/* Work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $ephemeral := false -}}
{{- $personal := contains "noodle" (lower $hostname) -}}
{{- $hasSSH := or (not (not (env "SSH_CONNECTION"))) (not (not (env "SSH_CLIENT"))) (not (not (env "SSH_TTY"))) -}}
{{- $hasDisplay := or (not (not (env "DISPLAY"))) (not (not (env "WAYLAND_DISPLAY"))) -}}
{{- $headless := $hasSSH -}}

{{/* Linux GUI sessions usually expose DISPLAY/WAYLAND. macOS GUI apps do not. */}}
{{- if and (ne .chezmoi.os "darwin") (not $headless) (not $hasDisplay) -}}
{{-   $headless = true -}}
{{- end -}}

{{/* Detect CI/container/ephemeral users */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "Tip: re-enter prompted data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{/* Class selection: env override -> prompt -> safe non-interactive default */}}
{{- $class := env "CHEZMOI_MACHINE_CLASS" | trim -}}
{{- if eq $class "" -}}
{{-   if $interactive -}}
{{-     $class = promptStringOnce . "machine_class" "Machine class (Personal/Work)" -}}
{{-   else if $personal -}}
{{-     $class = "Personal" -}}
{{-   else -}}
{{-     $class = "Work" -}}
{{-   end -}}
{{- end -}}

{{- if eq (lower $class) "work" -}}
{{-   $class = "Work" -}}
{{- else -}}
{{-   $class = "Personal" -}}
{{- end -}}

{{- $email := "lecoqjacob@gmail.com" -}}
{{- if eq $class "Work" -}}
{{-   $email = "jacob.lecoq@solace.health" -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1phy6rxatc2gzct0xw5mqmc0gtnumwt4qzwc48372k3aj56jmt5rs3hftdz"

[data]
    osid = {{ $osID | quote }}
    email = {{ $email | quote }}
    class = {{ $class | quote }}
    personal = {{ $personal }}
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}
    signingkey = "F5B8831AED0743F77428AC154B696C8ED1B35912"

[bitwarden]
    command = "bw"

[diff]
    exclude = ["scripts"]

[status]
    exclude = ["scripts"]
